:host {
  .container {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .container-nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }
}
