@font-face {
  font-family: "Brown Falco";
  src: url(./Brown-Falco/Brown-Falco.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url(./avenir-font/AvenirLTStd-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
