<section class="container-section">
  <img src="/assets/laranja.png" alt="alho" class="laranja" />
  <img src="/assets/elipse-8.png" alt="alho" class="elipse" />
  <div class="container-content">
    <h2>
      Top List está de volta!
      <img src="/assets/aspas.png" alt="alho" class="aspas" />
      <img src="/assets/alho.png" alt="alho" class="alho" />
    </h2>
    <p>
      Nossas melhores refeições reunidas em um só lugar, prontas para
      surpreender você a cada mordida.
    </p>
  </div>
  <div class="container-card-top-list">
    <div class="linha-1">
      <app-card-top-list class="item" />
      <app-card-top-list class="item" />
      <app-card-top-list class="item" />
    </div>
    <div class="linha-2">
      <app-card-top-list class="item" />
      <app-card-top-list class="item" />
    </div>
  </div>
  <img src="/assets/rectangle.png" alt="alho" class="rectangle" />
  <img src="/assets/folha.png" alt="alho" class="folha" />
  <img src="/assets/tomate-2.png" alt="alho" class="tomate" />
</section>
