<div class="container">
  <img src="/assets/prato-1.png" class="pratos" width="236" />
  <div class="value">
    <span>$10.99</span>
  </div>
  <div class="content">
    <p class="item-name">Beff chesse Buguer</p>
    <div class="">
      <span class="item-description">With Special</span>
    </div>
  </div>
  <div class="container-icone">
    <div class="available">5</div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-shopping-cart icone"
    >
      <circle cx="8" cy="21" r="1" />
      <circle cx="19" cy="21" r="1" />
      <path
        d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
      />
    </svg>
  </div>

  <img src="/assets/alho.png" class="alho" />
</div>
