<div class="container">
  <div class="title">
    <h2>Super Nutrição</h2>
  </div>
  <div class="content">
    <div class="nutrition-info">
      <div class="value">150+</div>
      <p>
        Para os amantes de uma alimentação saudável e consciente. Mais de 150
        opções frescas e deliciosas.
      </p>
    </div>

    <div class="nutrition-imgs">
      <img src="/assets/image-22.png" class="prato-1" />
      <img src="/assets/image-25.png" class="prato-2" />
    </div>

    <div class="readmore">Read More</div>
  </div>
</div>
