<section class="section-container">
  <img src="assets/tomate.png" alt="Photo 1" width="44" class="icon-tomate" />
  <img src="assets/rectangle.png" alt="Photo 1" class="icon-rectangle" />
  <div class="container">
    <div class="container-cta">
      <img src="assets/alho.png" alt="Photo 1" width="80" class="icon-alho" />
      <img src="assets/alho.png" alt="Photo 1" width="80" class="icon-alho-2" />
      <h1>O sabor que você estava esperando à sua mesa.</h1>

      <p>
        Onde a criatividade culinária encontra o sabor excepcional. Eleve sua
        experiência gastronômica com pratos preparados à perfeição e uma
        apresentação que encanta em cada detalhe.
      </p>
      <button>Peça Agora</button>
    </div>

    <div class="section-imgs">
      <img
        src="assets/laranja.png"
        alt="Photo 2"
        width="50"
        class="icon-laranja"
      />
      <div class="container-folha-arco">
        <img
          src="assets/pimenta.png"
          alt="Photo 1"
          width="80"
          class="icon-pimenta"
        />
        <img
          src="assets/folha.png"
          alt="Photo 2"
          width="50"
          class="icon-folha"
        />
        <img src="assets/elipse-8.png" alt="Photo 2" class="arco" />
      </div>
      <div class="container-imgs">
        <img src="assets/photo-2.png" alt="Photo 2" width="350" />
        <div class="container-toca">
          <img src="assets/photo-1.png" alt="Photo 1" width="520" />
          <img src="assets/toca.png" alt="Photo 1" width="520" class="toca" />
        </div>
        <img src="assets/photo-3.png" alt="Photo 3" width="320" />
      </div>
    </div>
  </div>
</section>
