<section class="section-container">
  <img src="assets/tomate.png" alt="Photo 1" width="44" class="icon-tomate" />
  <div class="container">
    <div class="container-cta">
      <img src="assets/alho.png" alt="Photo 1" width="80" class="icon-alho" />
      <h1>Finalu , the dish you have been waiting foro youtable</h1>

      <p>
        inpubliong and graph diseing Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Voluptas totam, cumque aliquam, earum deserunt enim!
      </p>
      <button>Order Now</button>
      <img
        src="assets/pimenta.png"
        alt="Photo 1"
        width="80"
        class="icon-pimenta"
      />
    </div>

    <div class="section-imgs">
      <img
        src="assets/laranja.png"
        alt="Photo 2"
        width="50"
        class="icon-laranja"
      />
      <img src="assets/folha.png" alt="Photo 2" width="50" class="icon-folha" />
      <div class="container-imgs">
        <img src="assets/photo-2.png" alt="Photo 2" width="350" />
        <img src="assets/photo-1.png" alt="Photo 1" width="520" />
        <img src="assets/photo-3.png" alt="Photo 3" width="320" />
      </div>
    </div>
  </div>
</section>
