<section>
  <div>
    <h1>Finalu , the dish you have been waiting foro youtable</h1>

    <p>
      inpubliong and graph diseing Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Voluptas totam, cumque aliquam, earum deserunt
      cupiditate velit perspiciatis animi distinctio harum repellendus itaque
      dolorum hic et molestiae ad saepe neque enim!
    </p>
  </div>

  <button>Order Now</button>

  <div>
    <img src="assets/photo-1.png" alt="Photo 1" />
    <img src="assets/photo-2.png" alt="Photo 2" />
    <img src="assets/photo-3.png" alt="Photo 3" />
  </div>
</section>
